* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #333;
}

img {
    max-width: 100%;
}

#page-wrapper {
    width: 80%;
    margin: 4rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1[data-testid="slackUserName"] {
    font-size: 4rem;
    width: 70%;
}

p[data-testid="currentDayOfTheWeek"] {
    font-size: 1.8rem;
}

p[data-testid="myTrack"] {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


img[data-testid="slackDisplayImage"] {
    border-radius: 15rem;
}